<nav id="sidebarMenu" class="col-9">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <span data-feather="home"></span>
          <i class="fas fa-home"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">
          <span data-feather="home"></span>
          <i class="fas fa-dumpster"></i>
          Productos
        </a>
      </li>
    </ul>
  </div>
</nav>
